$pearl: rgb(250, 248, 245);

$purple: rgb(105, 0, 255);

$labelWidth: 9em;
$inputWidth: 20em;

$pageSidePadding: 15px;

$fontSizeBodyDesktop: 16px;

$fieldWidth: $inputWidth;
$fieldWidthDesktop: $labelWidth + $inputWidth;

$spriteUrl: 'images/sprite';
