html {
  // Always display the vertical scrollbar
  overflow-y: scroll;
}

body {
  background-color: $perl;

  font-family: "Open-Sans", sans-serif;

  @include desktop {
    font-size: 16px;
  }
}

h1,
h2 {
  text-align: center;
  text-rendering: optimizelegibility;
}

h1 {
  padding-top: 0.5em;
  margin: 0;

  font-family: "Oxygen-Bold", sans-serif;
  font-size: $font-size-h2;

  @include desktop {
    font-size: $font-size-h1;

    padding-top: 1em;
  }
}

h2 {
  // To use the whole width
  margin-left: -$pageSidePadding;
  margin-right: -$pageSidePadding;

  font-family: "Oxygen", sans-serif;
  font-size: $font-size-h4;

  @include desktop {
    font-size: $font-size-h3;
  }
}

/* TODO: remove
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;
  color: blue;
} */

li {
  list-style-type: none;
}

a,
span {
  display: inline-block;  // For "width" declaration to work
}

textarea {
  resize: vertical;
  height: 8em;
}

button,
input[type="submit"] {
  background-color: $purple;
  color: white;
  border: none;
  padding: 0.3em 1em 0.5em 1em;

  border-radius: $border-radius-base;

  font-family: "Oxygen", sans-serif;
  text-rendering: optimizelegibility;
}

$footerHeight: 2em;

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  background: $purple;
  color: white;

  text-align: center;

  a,
  a:hover,
  a:focus {
    color: white;
    text-decoration: underline;

    margin: 0.2em 1em;
  }
}

#content {
  margin-bottom: $footerHeight;
}

/* TODO: remove .indication {
 text-align: center;
 font-style: italic;
} */

.mdnz-polyfill {
  display: none;
}

.button-progress {
  // Hidden by default
  display: none;

  // To make the border-radius the same as the button
  border-radius: $border-radius-base;

  $btnHeight: 30px;

  height: $btnHeight;

  margin: 0 auto;
  vertical-align: middle;

  > .bar {
    font-size: $font-size-base;

    padding-top: 5px;
  }

  &.large {
    border-radius: $border-radius-large;
    $btnHeight: 45px;

    $heightDifferenceBetweenProgressGraphicAndBtnLarge: 3px;

    height: $btnHeight - $heightDifferenceBetweenProgressGraphicAndBtnLarge;

    margin-top: $heightDifferenceBetweenProgressGraphicAndBtnLarge / 2;
    margin-bottom: $heightDifferenceBetweenProgressGraphicAndBtnLarge / 2;

    > .bar {
      font-size: $font-size-large;

      padding-top: 11px;
    }
  }
}
