@font-face {
  font-family: 'Oxygen';
  src: url("../fonts/oxygen/Oxygen.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen-Bold';
  src: url("../fonts/oxygen/Oxygen-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'ABeeZee';
  src: url("../fonts/abeezee/ABeeZee-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen-Italic';
  src: url("../fonts/oxygen/Oxygen-Italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeX-Gyre-Heros';
  src: url("../fonts/tex-gyre-heros/texgyreheros-regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url("../fonts/Titillium/Titillium-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source-Sans-Pro';
  src: url("../fonts/source-sans-pro/SourceSansPro-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aleo';
  src: url("../fonts/aleo/Aleo-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amaranth';
  src: url("../fonts/amaranth/Amaranth-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Enigmatic';
  src: url("../fonts/Enigmatic/Enigma__2.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Play';
  src: url("../fonts/play/Play-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sorts-Mill-Goudy';
  src: url("../fonts/Sorts-Mill-Goudy/GoudyStM.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeX-Gyre-Adventor';
  src: url("../fonts/tex-gyre-adventor/texgyreadventor-regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeX-Gyre-Pagella';
  src: url("../fonts/tex-gyre-pagella/texgyrepagella-regular.otf");
  font-weight: normal;
  font-style: normal;
} */
