@main("About", "index") {
<!--
    Header
-->

} {
<!--
    Content
-->
<h1>About this website</h1>

<p>The privacy offered by embedding some text inside an image is not strong. Anyone who comes across the image can read the text, but a spy agency would certainly not ask employees to look at images one by one to check for embedded text, as it's too time consuming.<br />
    An automated process to convert the image back into searchable text would be necessary. It's not hard to do, and would be based on optical character recognition. <a href="http://z-x-x.org">Some fonts prevent OCR</a>, but they make the text hard to read for humans, so I'm not sure such an option would be widly used. Let me know!</p>

<p>I quickly set up this website because I've been working on a strongly encrypted email service for a few months now, and I'm looking for help to co-create it. This email service would meet the following three criteria:
	<ul>
		<li>It should take care of the encryption for me - I want the encryption system to work as much as possible behind the scenes.</li>
	    <li>I should be able to use that new email address for everything, eventually becoming my primary email address.</li>
	    <li>The user interface should be close to the best email apps around.</li>
	</ul>
</p>

<p>This is an ambitious project which requires a team of several talented and motivated developers. I've been developing the server-side of the project, and I'm looking for teammates who would take care of building the native email clients: on Windows, Mac, iOS and Android. If you are interested, please <a href="mailto:simplemessageprivady@gmail.com">drop me an email</a>!</p>

} {
<!--
    Javascript
-->

}